<section>
    <div class="content">
        <h1>
            Todo List
        </h1>
        <hr>
        <div>
            <input type="text" [(ngModel)]="currentTodo"> 
						<button (click)="addTodo(currentTodo)">Ajouter</button>
        </div>
        <hr>
        <div *ngFor="let todo of todos; let i = index">
           <input type="text" [(ngModel)]="todos[i].content" [value]="todo.content"> 
						<button (click)="removeTodo(i)">X</button>
        </div>
        <hr>
        <button (click)="sauvegarder()">Sauvegarder</button>
    </div>
</section>